<label class="mb-2 mr-sm-2">First, we need to verify your <%= auth_type %> account: </label>
<a href='<%= auth_url %>'>
    <button type="button" class="mb-2 mr-sm-2 btn btn-primary">Verify</button>
</a>