<a class="form-inline justify-content-center" href='<%= auth_url %>'>
    <label class="mb-2 mr-sm-2">First, we need to verify your <%= auth_type %> account: </label>
    <!-- currently just skips past -->
    <button type="submit" class="mb-2 mr-sm-2 btn btn-primary">Verify</button>
</a>