<header class="fixed-top">
    <nav class="navbar navbar-expand-sm navbar-light bg-light" role="navigation">
        <div class="container">
            <a class="navbar-brand" href="https://reddit.com/r/pokemon">
                <span class="fab fa-reddit"></span>
                r/Pokémon Votes
            </a>
    
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><%= survey_name %></li>
            </ul>

            <!-- display username if logged in -->
            <% if (typeof auth != 'undefined') { %>
                <ul class="navbar-nav ml-auto">

                    <% if ( auth.type === 'reddit') { %>
                    <a href="https://reddit.com<%= auth.username %>">
                    <% } else if ( auth.type === 'discord') { %>
                    <a href="https://discordapp.com/channels/@me">
                    <% } else { %>
                    <a href='#'>
                    <% } %>
                        <li class="nav-item badge badge-<% if (auth.is_mod) { %>success<% } else { %>secondary<% }%>"><%= auth.username %><% if (auth.is_mod) { %> [M]<% } %></li>
                    </a>&nbsp;
                    

                    <a href="/vote/deauth">
                        <li class="nav-item">Sign out</li>
                    </a>
                </ul>
            <% } %>
        </div>
    </nav>
</header>