<section class="d-flex align-items-center" style="height: 100vh">
    <div class="container">
        <div class="row">
            <span class="mx-auto text-center col-lg-12 ">
                <% if (vote.required) { %>
                <span class="badge badge-pill badge-danger my-3">Required</span>
                <% } %>
                <h4><%= vote.question %></h4>
            </span>
            <!-- check vote.info is a non-empty string -->
            <p class="lead col-lg-12 text-center"><%= vote.info %></p>
        </div>
        <div class="row">
            <div class="mx-auto mb-5 mt-3">
                <!-- inputs go here -->
                <% switch (vote.response_type) { case "bool": %>
                <% include ./generators/bool.ejs vote.response_scale %>
                <% break; case "multi": %>
                <% include ./generators/multi.ejs vote.response_scale %>
                <% break; case "int":%>
                <% include ./generators/numeric.ejs vote.response_scale %>
                <% break; case "text":%>
                <% include ./generators/textual.ejs vote.response_scale %>
                <% break; default: %>
                <h1 class="badge badge-danger">ERROR: No response scale generator found for '<%= vote.response_type %>'.</h1>
                <% break; } %>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <% if (!vote.first) { %>
                <button type="button" onclick="$('body').scrollTo($(this).parents('section').prev(), 1000, { easing: 'easeInOutQuint' });" class="btn btn-outline-secondary px-5">Back</button>
                <% } %>

                <% if (!vote.required && !vote.last) { %> 
                <button type="button" onclick="$('body').scrollTo($(this).parents('section').next(), 1000, { easing: 'easeInOutQuint' });" class="btn btn-outline-primary px-5">Skip</button>
                <% } %>
                
                <% if (vote.last) { %>
                <button type="button" onclick="$('body').scrollTo($(this).parents('section').next(), 1000, { easing: 'easeInOutQuint' });" class="btn btn-success px-5">Submit</button>
                <% } else { %>
                <button type="button" onclick="$('body').scrollTo($(this).parents('section').next(), 1000, { easing: 'easeInOutQuint' });" class="btn btn-primary px-5">Next</button>
                <% } %>
            </div>
        </div>
    </div>
</section>
