<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header class="fixed-top">
    <% include ../partials/header %>
</header>
            
<main>
    <section class="d-flex flex-column justify-content-center" style="height: 100vh">
        <div class="">
            <div class="jumbotron">
                <h1 class="display-4">Insert title</h1>
                <p>Insert description</p>
            </div>
        </div>
    </section>

</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>