<% locals.require_auth = !locals.responses %>
<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <script src="https://cdn.jsdelivr.net/npm/handsontable@6.2.2/dist/handsontable.full.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/handsontable@6.2.2/dist/handsontable.full.min.css" rel="stylesheet" media="screen">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
</head>
<body class="container results">

<header class="fixed-top">
    <% include ../partials/header %>
</header>

<main>
    <section class="d-flex flex-column justify-content-center">
        <h1 class="display-4"><%= survey_name %> - Results</h1>

        <% if (require_auth) { %>
            <!-- authentication UI -->
            <% include ../partials/authentication %>
        <% } else { %>
            <!-- TODO HANDLE RESPONSES -->
            <% questions.forEach((vote, key, arr) => { %>
                <% include ../partials/results.ejs vote key data%>
            <% }); %>

            <% if (typeof locals.auth !== "undefined" && auth.is_mod) { %>
                <h5>Results Spreadsheet</h5>
                <div id="results" style="overflow: hidden; height: 50vh"></div>

            <% } %>
        <% } %>   
    </section>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
<script>
var data = <%- JSON.stringify(responses) %>;

$(document).ready(function () {
    var container = $('#results')[0];
    var hot = new Handsontable(container, {
        data: data,
        colHeaders: function(index){
            return `q${index+1}`
        },
        rowHeaders: true,
        dropdownMenu: true
    });
});
</script>
</html>