<% locals.require_auth = !locals.responses %>
<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
</head>
<body class="container results">

<header class="fixed-top">
    <% include ../partials/header %>
</header>

<main>
    <section class="d-flex flex-column justify-content-center">
        <h1 class="display-4"><%= survey_name %> - Results</h1>

        <% if (require_auth) { %>
            <!-- authentication UI -->
            <% include ../partials/authentication %>
        <% } else { %>
            <!-- TODO HANDLE RESPONSES -->
            <% questions.forEach((vote, key, arr) => { %>
                <% include ../partials/results.ejs vote key data%>
            <% }); %>
        <% } %>   
    </section>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>