<% locals.require_auth = !locals.questions || locals.questions.constructor !== Array; %>
<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<% include ../partials/header %>

<main>
    <section id="start" class="d-flex flex-column justify-content-center" style="height: 100vh">
        <div class="">
            <div class="jumbotron">
                <h1 class="display-4"><%= survey_name %></h1>
                <p><%= survey_description %></p>
            </div>
        </div>
        <div class="flex-column">
            <% if (require_auth) { %>
            <!-- authentication UI -->
            <% include ../partials/authentication %>
            <% } else { %>
            <!-- get started UI -->
            <form class="form-inline justify-content-center">
                <button type="button" class="btn btn-primary px-5 mb-2 mr-sm-2 next-section">Let's Get Started!</button>
            </form>
            <% } %>
        </div>
    </section>

    <!-- user already auth OR survey auth not req. -->
    <% if (!require_auth) { %>
        <% questions.forEach((vote, key, arr) => { %>
            <% if (Object.is(arr.length - 1, key)) { %>
                <% vote.last = true; %>
            <% } else if (Object.is(0, key)) { %>
                <% vote.first = true; %>
            <% } %>
            <% include ../partials/question.ejs vote key %>
        <% }); %>
    <% } %>

</main>

<footer>
    <% include ../partials/footer %>
</footer>

<!-- Modal -->
<div class="modal fade" id="submissionResponseModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="submissionResponseModalTitle">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="submissionResponseModalMessage">
            Modal Message
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Take me back to r/Pokemon</button>
        </div>
      </div>
    </div>
  </div>

</body>
</html>