<% locals.require_auth = !locals.questions || locals.questions.constructor !== Array; %>
<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container" data-path="<%= path %>">

<header class="fixed-top">
    <% include ../partials/header %>

    <div class="progress" style="height: 2px;">
        <div class="progress-bar" id="progress" role="progressbar" style="width: 0%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
</header>

<main>
    <section id="start" class="d-flex flex-column justify-content-center" style="height: 100vh">
        <div class="">
            <div class="jumbotron">
                <h1 class="display-4"><%= survey_name %></h1>
                <p><%- survey_description %></p>
            </div>
        </div>
        <div class="flex-column">
            <form class="form-inline justify-content-center">
            <% if (require_auth) { %>
            <!-- authentication UI -->
            <% include ../partials/authentication %>
            <% } else { %>
            <!-- get started UI -->
                <% if (questions.length == 1) { %>
                    <label class="mb-2 mr-sm-2">There is 1 question in this survey. Ready?</label>
                <% } else { %>
                    <label class="mb-2 mr-sm-2">There are <%= questions.length %> questions in this survey. Ready?</label>
                <% } %>
                <button type="button" class="btn btn-primary px-5 mb-2 mr-sm-2 start-survey">Let's Get Started!</button>
            <% } %>
            </form>
        </div>
    </section>

    <!-- user already auth OR survey auth not req. -->
    <% if (!require_auth) { %>
        <% questions.forEach((vote, key, arr) => { %>
            <% if (Object.is(0, key)) { %>
                <% vote.first = true; %>
            <% } %>
            <% include ../partials/question.ejs vote key %>
        <% }); %>

        <section id="finish" class="d-flex flex-column justify-content-center" style="height: 100vh">
            <div class="">
                <div class="jumbotron">
                    <h1 class="display-4">All Done!</h1>
                    <p>You have answered all the questions and saved Meltan from impending doom. The whole of r/Pokemon thanks you!</p>
                </div>
            </div>
            <div class="flex-column">
                <form class="form-inline justify-content-center">
                    <button type="button" class="btn btn-outline-secondary px-5 mb-2 mr-sm-2 prev-section">Back</button>
                    <button type="button" class="btn btn-success px-5 mb-2 mr-sm-2 finalise-survey">Submit My Answers!</button>
                </form>
            </div>
        </section>
    <% } %>

</main>

<footer>
    <% include ../partials/footer %>
</footer>

<!-- Modal -->
<div class="modal fade" id="submissionErrorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="submissionErrorModalTitle">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="submissionErrorModalMessage">
            Modal Message
        </div>
        <div class="modal-footer">
          <a onclick="$('#submissionErrorModal').modal('hide');">
            <button type="button" class="btn btn-primary">Okay</button>
          </a>
        </div>
      </div>
    </div>
  </div>

<div class="modal fade" id="submissionResponseModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="submissionResponseModalTitle">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="submissionResponseModalMessage">
            Modal Message
        </div>
        <div class="modal-footer">
          <a href="https://pokemon.reddit.com">
            <button type="button" class="btn btn-primary">Take me back to r/Pokemon</button>
          </a>
        </div>
      </div>
    </div>
  </div>

</body>
</html>