<% locals.require_auth = !locals.questions || locals.questions.constructor !== Array; %>
<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<% include ../partials/header %>

<main>
    <section class="d-flex flex-column justify-content-center" style="height: 100vh">
        <div class="">
            <div class="jumbotron">
                <h1 class="display-4"><%= survey_name %></h1>
                <p><%= survey_description %></p>
            </div>
        </div>
        <div class="flex-column">
            <% if (require_auth) { %>
            <!-- authentication UI -->
            <% include ../partials/authentication %>
            <% } else { %>
            <!-- get started UI -->
            <form class="form-inline justify-content-center">
                <button type="button" onclick="$('body').scrollTo($(this).parents('section').next(), 1000, { easing: 'easeInOutQuint' });" class="btn btn-primary px-5 mb-2 mr-sm-2 ">Let's Get Started!</button>
            </form>
            <% } %>
        </div>
    </section>

    <!-- user already auth OR survey auth not req. -->
    <% if (!require_auth) { %>
        <% questions.forEach((vote, key, arr) => { %>
            <% if (Object.is(arr.length - 1, key)) { %>
                <% vote.last = true; %>
            <% } else if (Object.is(0, key)) { %>
                <% vote.first = true; %>
            <% } %>
            <% include ../partials/question.ejs vote key %>
        <% }); %>
    <% } %>

</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>