<div data-selector="textarea">
    <div class="form-check mb-2">
        <% min= vote.response_scale[0]; max= vote.response_scale[1] %>

        <textarea class="form-control question_input" style="min-width: 60vw" name="question_<%= key %>"></textarea>

    </div>
</div>

<h1 class="badge badge-warning">NOTICE: Rudimentary textual response generator in use</h1>